*{
    padding: 0%;
    margin: 0%;
    user-select: none;
    list-style-type: none;
}
html{
    font-size: 66.5%;
}
body{
    background-color: #1f2326;
    color: aliceblue;
}
h1{
    text-align: center;
    font-size: 3rem;
    margin: 1.6rem;
}
.container{
    background: linear-gradient(to bottom left,#404747,#262a2d);
    width:fit-content;
    height: auto;
    /* border:white solid 3px; */
    margin:auto;
    border-radius:24px
}
.flex{
    display: flex;
  align-items: center;
    flex-direction: column;
    justify-content: center;
    
    width: fit-content;
}
button{
    
    cursor: pointer;
    font-size: 2.5rem;
   color: white;
   width: 5rem;
   height: 4rem;
   border-radius: 25px;
   border: none;
   box-shadow: #1f2326;
   margin:0.5rem;
   box-shadow: aliceblue 0rem 0.6rem 0.6rem ;
    font-weight: bolder;
}
input{
    margin: auto;
    overflow-x: scroll;
    width:90%;

    color: aliceblue;
    font-weight: 600;
    font-size: 2rem;
    border:none;
    outline: none;
    height: 4rem;
    background-color:transparent;
}
.y-btn{
    background-color: rgba(255, 190, 70, 0.863);
    box-shadow: aliceblue 0rem 0.6rem 0.6rem ;
}
.p-btn{
    background-color: rgb(135, 70, 255);
}
.g-btn{
    background-color: #7c8184;
}
.eq{
    width: 11rem;
}
li{text-align: end;}
#status{
    margin-left:2rem;
    margin-bottom: 2rem;
    height: 3rem;
    width: 100%;
    
overflow: hidden;
    /* background-color: aliceblue; */
}
#history{
    height: 15rem;
    width: 100%;
    background: #232626a8;
   
    overflow-y:scroll;
    scrollbar-width: none;

   
}
#history ul{
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-weight: 200;
    float: right;
    display: flex;
    flex-direction: column;
}
button:active{
    transform: translatey(0.2rem);
}
.btn-pads{
    margin-left:1rem;
   
    
}
#neticon{
    width: fit-content;
    display: block;
    float: right;
margin-right: 2rem;
margin-top: 0.5rem;
font-size: 2rem;

}

/* Hide scrollbar for Chrome, Safari and Opera */
#history::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #history {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

 @media (max-width: 300px){
   html{
    font-size: 55%;
   }
} 
